<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.AttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.base.model.Attachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="is_download" property="isDownload" jdbcType="VARCHAR" />
    <result column="upload_user_id" property="uploadUserId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="retention" property="retention" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  <result column="temporary" property="temporary" jdbcType="VARCHAR" /> <result column="provisional" property="provisional" jdbcType="INTEGER" /></resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, app_name, name, address, password, is_download, upload_user_id, status, creation_time, 
    retention, ext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.base.model.AttachmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <choose>		<when test="column != null"> ${column} 		</when><otherwise><include refid="Base_Column_List" /></otherwise>	</choose>
    from  tb_attachment
     ${join}<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    	<if test="groupBy != null"> group by ${groupBy}    </if><if test="having != null"> having ${having}    </if><if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.base.model.AttachmentExample" >
    delete from tb_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.base.model.Attachment" >
    insert into tb_attachment (id, app_name, name, 
      address, password, is_download, 
      upload_user_id, status, creation_time, 
      retention, ext)
    values (#{id,jdbcType=INTEGER}, #{appName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{isDownload,jdbcType=VARCHAR}, 
      #{uploadUserId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{retention,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.base.model.Attachment" useGeneratedKeys="true" keyProperty="id">
    insert into tb_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="isDownload != null" >
        is_download,
      </if>
      <if test="uploadUserId != null" >
        upload_user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="retention != null" >
        retention,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isDownload != null" >
        #{isDownload,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserId != null" >
        #{uploadUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retention != null" >
        #{retention,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.base.model.AttachmentExample" resultType="java.lang.Integer" >
    select count(*) from  tb_attachment
    ${join}<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_attachment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appName != null" >
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.isDownload != null" >
        is_download = #{record.isDownload,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadUserId != null" >
        upload_user_id = #{record.uploadUserId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null" >
        creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.retention != null" >
        retention = #{record.retention,jdbcType=VARCHAR},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_attachment
    set id = #{record.id,jdbcType=INTEGER},
      app_name = #{record.appName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      is_download = #{record.isDownload,jdbcType=VARCHAR},
      upload_user_id = #{record.uploadUserId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      retention = #{record.retention,jdbcType=VARCHAR},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.model.Attachment" >
    update tb_attachment
    <set >
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="isDownload != null" >
        is_download = #{isDownload,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserId != null" >
        upload_user_id = #{uploadUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retention != null" >
        retention = #{retention,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.model.Attachment" >
    update tb_attachment
    set app_name = #{appName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      is_download = #{isDownload,jdbcType=VARCHAR},
      upload_user_id = #{uploadUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      retention = #{retention,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<select id="selectByModel" resultMap="BaseResultMap" parameterType="com.base.model.Attachment"> select   <include refid="Base_Column_List" />  from tb_attachment
      where 1 = 1 
      <if test="appName != null"> and 
        app_name = #{appName,jdbcType=VARCHAR}
      </if>
      <if test="name != null"> and 
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="address != null"> and 
        address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="password != null"> and 
        password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="isDownload != null"> and 
        is_download = #{isDownload,jdbcType=VARCHAR}
      </if>
      <if test="uploadUserId != null"> and 
        upload_user_id = #{uploadUserId,jdbcType=INTEGER}
      </if>
      <if test="status != null"> and 
        status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="creationTime != null"> and 
        creation_time = #{creationTime,jdbcType=TIMESTAMP}
      </if>
      <if test="retention != null"> and 
        retention = #{retention,jdbcType=VARCHAR}
      </if>
      <if test="ext != null"> and 
        ext = #{ext,jdbcType=VARCHAR}
      </if></select><select id="distinct" resultMap="BaseResultMap" parameterType="com.base.model.AttachmentExample"> select  distinct ${column}  from  tb_attachment
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="sum" resultType="java.lang.String" parameterType="com.base.model.AttachmentExample"> select sum(${column}) as ${column} from  tb_attachment
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="min" resultType="java.lang.String" parameterType="com.base.model.AttachmentExample"> select  min(${column}) as ${column} from  tb_attachment
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="max" resultType="java.lang.String" parameterType="com.base.model.AttachmentExample"> select  max(${column}) as ${column} from  tb_attachment
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="avg" resultType="java.lang.String" parameterType="com.base.model.AttachmentExample"> select  avg(${column}) as ${column} from  tb_attachment
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><sql id="Base_Column_List_Map"> 
    id, app_name as  appName, name, address, password, is_download as  isDownload, upload_user_id as  uploadUserId, status, creation_time as  creationTime, 
    retention, ext
  </sql>  <select id="selectByExampleForMap" resultType="map" 	parameterType="com.base.model.AttachmentExample"> 	select 	<if test="distinct"> distinct    </if> 	<choose> 		<when test="column != null"> ${column} 		</when> 		<otherwise> 			<include refid="Base_Column_List_Map" /> 		</otherwise> 	</choose> 	from  tb_attachment
     ${join} 	<if test="_parameter != null"> 		<include refid="Example_Where_Clause" /> 	</if> 	<if test="groupBy != null"> group by ${groupBy}    </if> <if test="having != null"> having ${having}    </if><if test="orderByClause != null"> order by ${orderByClause}    </if> </select><resultMap id="BaseResultMapJoin" type="com.base.model.Attachment" >
    <id column="attachment_id" property="id" jdbcType="INTEGER" />
    <result column="attachment_app_name" property="appName" jdbcType="VARCHAR" />
    <result column="attachment_name" property="name" jdbcType="VARCHAR" />
    <result column="attachment_address" property="address" jdbcType="VARCHAR" />
    <result column="attachment_password" property="password" jdbcType="VARCHAR" />
    <result column="attachment_is_download" property="isDownload" jdbcType="VARCHAR" />
    <result column="attachment_upload_user_id" property="uploadUserId" jdbcType="INTEGER" />
    <result column="attachment_status" property="status" jdbcType="VARCHAR" />
    <result column="attachment_creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="attachment_retention" property="retention" jdbcType="VARCHAR" />
    <result column="attachment_ext" property="ext" jdbcType="VARCHAR" />
  </resultMap><insert id="batchInsert" parameterType="java.util.List" >insert into tb_attachment (id, app_name, name, 
      address, password, is_download, 
      upload_user_id, status, creation_time, 
      retention, ext)
    values<foreach collection="list" item="item" index="index"  separator=","> (#{item.id,jdbcType=INTEGER}, #{item.appName,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
      #{item.address,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.isDownload,jdbcType=VARCHAR}, 
      #{item.uploadUserId,jdbcType=INTEGER}, #{item.status,jdbcType=VARCHAR}, #{item.creationTime,jdbcType=TIMESTAMP}, 
      #{item.retention,jdbcType=VARCHAR}, #{item.ext,jdbcType=VARCHAR})
  </foreach></insert></mapper>
