<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.base.model.Video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="play_address" property="playAddress" jdbcType="VARCHAR" />
    <result column="thumbnail_address" property="thumbnailAddress" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="subtitles" property="subtitles" jdbcType="VARCHAR" />
    <result column="recording_time" property="recordingTime" jdbcType="TIMESTAMP" />
    <result column="labels" property="labels" jdbcType="VARCHAR" />
    <result column="speaker" property="speaker" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="upload_user_id" property="uploadUserId" jdbcType="INTEGER" />
    <result column="play_count" property="playCount" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="INTEGER" />
    <result column="is_comment" property="isComment" jdbcType="INTEGER" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="is_download" property="isDownload" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="bit_rate" property="bitRate" jdbcType="INTEGER" />
    <result column="copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="problem" property="problem" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="protect_type" property="protectType" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="retention" property="retention" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  <result column="temporary" property="temporary" jdbcType="VARCHAR" /> <result column="provisional" property="provisional" jdbcType="INTEGER" /></resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, app_name, name, title, play_address, thumbnail_address, size, subtitles, recording_time, 
    labels, speaker, organization, description, upload_user_id, play_count, comments, 
    is_comment, is_hot, is_download, language, bit_rate, copyright, password, status, 
    problem, answer, protect_type, creation_time, retention, ext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.base.model.VideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <choose>		<when test="column != null"> ${column} 		</when><otherwise><include refid="Base_Column_List" /></otherwise>	</choose>
    from  tb_video
     ${join}<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    	<if test="groupBy != null"> group by ${groupBy}    </if><if test="having != null"> having ${having}    </if><if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.base.model.VideoExample" >
    delete from tb_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.base.model.Video" >
    insert into tb_video (id, app_name, name, 
      title, play_address, thumbnail_address, 
      size, subtitles, recording_time, 
      labels, speaker, organization, 
      description, upload_user_id, play_count, 
      comments, is_comment, is_hot, 
      is_download, language, bit_rate, 
      copyright, password, status, 
      problem, answer, protect_type, 
      creation_time, retention, ext
      )
    values (#{id,jdbcType=INTEGER}, #{appName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{playAddress,jdbcType=VARCHAR}, #{thumbnailAddress,jdbcType=VARCHAR}, 
      #{size,jdbcType=INTEGER}, #{subtitles,jdbcType=VARCHAR}, #{recordingTime,jdbcType=TIMESTAMP}, 
      #{labels,jdbcType=VARCHAR}, #{speaker,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{uploadUserId,jdbcType=INTEGER}, #{playCount,jdbcType=INTEGER}, 
      #{comments,jdbcType=INTEGER}, #{isComment,jdbcType=INTEGER}, #{isHot,jdbcType=INTEGER}, 
      #{isDownload,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, #{bitRate,jdbcType=INTEGER}, 
      #{copyright,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{problem,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{protectType,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{retention,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.base.model.Video" useGeneratedKeys="true" keyProperty="id">
    insert into tb_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="playAddress != null" >
        play_address,
      </if>
      <if test="thumbnailAddress != null" >
        thumbnail_address,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="subtitles != null" >
        subtitles,
      </if>
      <if test="recordingTime != null" >
        recording_time,
      </if>
      <if test="labels != null" >
        labels,
      </if>
      <if test="speaker != null" >
        speaker,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="uploadUserId != null" >
        upload_user_id,
      </if>
      <if test="playCount != null" >
        play_count,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="isComment != null" >
        is_comment,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="isDownload != null" >
        is_download,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="bitRate != null" >
        bit_rate,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="problem != null" >
        problem,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="protectType != null" >
        protect_type,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="retention != null" >
        retention,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="playAddress != null" >
        #{playAddress,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailAddress != null" >
        #{thumbnailAddress,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="subtitles != null" >
        #{subtitles,jdbcType=VARCHAR},
      </if>
      <if test="recordingTime != null" >
        #{recordingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="labels != null" >
        #{labels,jdbcType=VARCHAR},
      </if>
      <if test="speaker != null" >
        #{speaker,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserId != null" >
        #{uploadUserId,jdbcType=INTEGER},
      </if>
      <if test="playCount != null" >
        #{playCount,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=INTEGER},
      </if>
      <if test="isComment != null" >
        #{isComment,jdbcType=INTEGER},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=INTEGER},
      </if>
      <if test="isDownload != null" >
        #{isDownload,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="bitRate != null" >
        #{bitRate,jdbcType=INTEGER},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="problem != null" >
        #{problem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="protectType != null" >
        #{protectType,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retention != null" >
        #{retention,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.base.model.VideoExample" resultType="java.lang.Integer" >
    select count(*) from  tb_video
    ${join}<if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_video
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appName != null" >
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.playAddress != null" >
        play_address = #{record.playAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbnailAddress != null" >
        thumbnail_address = #{record.thumbnailAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.subtitles != null" >
        subtitles = #{record.subtitles,jdbcType=VARCHAR},
      </if>
      <if test="record.recordingTime != null" >
        recording_time = #{record.recordingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.labels != null" >
        labels = #{record.labels,jdbcType=VARCHAR},
      </if>
      <if test="record.speaker != null" >
        speaker = #{record.speaker,jdbcType=VARCHAR},
      </if>
      <if test="record.organization != null" >
        organization = #{record.organization,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadUserId != null" >
        upload_user_id = #{record.uploadUserId,jdbcType=INTEGER},
      </if>
      <if test="record.playCount != null" >
        play_count = #{record.playCount,jdbcType=INTEGER},
      </if>
      <if test="record.comments != null" >
        comments = #{record.comments,jdbcType=INTEGER},
      </if>
      <if test="record.isComment != null" >
        is_comment = #{record.isComment,jdbcType=INTEGER},
      </if>
      <if test="record.isHot != null" >
        is_hot = #{record.isHot,jdbcType=INTEGER},
      </if>
      <if test="record.isDownload != null" >
        is_download = #{record.isDownload,jdbcType=INTEGER},
      </if>
      <if test="record.language != null" >
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.bitRate != null" >
        bit_rate = #{record.bitRate,jdbcType=INTEGER},
      </if>
      <if test="record.copyright != null" >
        copyright = #{record.copyright,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.problem != null" >
        problem = #{record.problem,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.protectType != null" >
        protect_type = #{record.protectType,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null" >
        creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.retention != null" >
        retention = #{record.retention,jdbcType=VARCHAR},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_video
    set id = #{record.id,jdbcType=INTEGER},
      app_name = #{record.appName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      play_address = #{record.playAddress,jdbcType=VARCHAR},
      thumbnail_address = #{record.thumbnailAddress,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=INTEGER},
      subtitles = #{record.subtitles,jdbcType=VARCHAR},
      recording_time = #{record.recordingTime,jdbcType=TIMESTAMP},
      labels = #{record.labels,jdbcType=VARCHAR},
      speaker = #{record.speaker,jdbcType=VARCHAR},
      organization = #{record.organization,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      upload_user_id = #{record.uploadUserId,jdbcType=INTEGER},
      play_count = #{record.playCount,jdbcType=INTEGER},
      comments = #{record.comments,jdbcType=INTEGER},
      is_comment = #{record.isComment,jdbcType=INTEGER},
      is_hot = #{record.isHot,jdbcType=INTEGER},
      is_download = #{record.isDownload,jdbcType=INTEGER},
      language = #{record.language,jdbcType=VARCHAR},
      bit_rate = #{record.bitRate,jdbcType=INTEGER},
      copyright = #{record.copyright,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      problem = #{record.problem,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      protect_type = #{record.protectType,jdbcType=VARCHAR},
      creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      retention = #{record.retention,jdbcType=VARCHAR},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.model.Video" >
    update tb_video
    <set >
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="playAddress != null" >
        play_address = #{playAddress,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailAddress != null" >
        thumbnail_address = #{thumbnailAddress,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="subtitles != null" >
        subtitles = #{subtitles,jdbcType=VARCHAR},
      </if>
      <if test="recordingTime != null" >
        recording_time = #{recordingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="labels != null" >
        labels = #{labels,jdbcType=VARCHAR},
      </if>
      <if test="speaker != null" >
        speaker = #{speaker,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserId != null" >
        upload_user_id = #{uploadUserId,jdbcType=INTEGER},
      </if>
      <if test="playCount != null" >
        play_count = #{playCount,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=INTEGER},
      </if>
      <if test="isComment != null" >
        is_comment = #{isComment,jdbcType=INTEGER},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=INTEGER},
      </if>
      <if test="isDownload != null" >
        is_download = #{isDownload,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="bitRate != null" >
        bit_rate = #{bitRate,jdbcType=INTEGER},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="problem != null" >
        problem = #{problem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="protectType != null" >
        protect_type = #{protectType,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retention != null" >
        retention = #{retention,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.model.Video" >
    update tb_video
    set app_name = #{appName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      play_address = #{playAddress,jdbcType=VARCHAR},
      thumbnail_address = #{thumbnailAddress,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      subtitles = #{subtitles,jdbcType=VARCHAR},
      recording_time = #{recordingTime,jdbcType=TIMESTAMP},
      labels = #{labels,jdbcType=VARCHAR},
      speaker = #{speaker,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      upload_user_id = #{uploadUserId,jdbcType=INTEGER},
      play_count = #{playCount,jdbcType=INTEGER},
      comments = #{comments,jdbcType=INTEGER},
      is_comment = #{isComment,jdbcType=INTEGER},
      is_hot = #{isHot,jdbcType=INTEGER},
      is_download = #{isDownload,jdbcType=INTEGER},
      language = #{language,jdbcType=VARCHAR},
      bit_rate = #{bitRate,jdbcType=INTEGER},
      copyright = #{copyright,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      problem = #{problem,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      protect_type = #{protectType,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      retention = #{retention,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<select id="selectByModel" resultMap="BaseResultMap" parameterType="com.base.model.Video"> select   <include refid="Base_Column_List" />  from tb_video
      where 1 = 1 
      <if test="appName != null"> and 
        app_name = #{appName,jdbcType=VARCHAR}
      </if>
      <if test="name != null"> and 
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="title != null"> and 
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="playAddress != null"> and 
        play_address = #{playAddress,jdbcType=VARCHAR}
      </if>
      <if test="thumbnailAddress != null"> and 
        thumbnail_address = #{thumbnailAddress,jdbcType=VARCHAR}
      </if>
      <if test="size != null"> and 
        size = #{size,jdbcType=INTEGER}
      </if>
      <if test="subtitles != null"> and 
        subtitles = #{subtitles,jdbcType=VARCHAR}
      </if>
      <if test="recordingTime != null"> and 
        recording_time = #{recordingTime,jdbcType=TIMESTAMP}
      </if>
      <if test="labels != null"> and 
        labels = #{labels,jdbcType=VARCHAR}
      </if>
      <if test="speaker != null"> and 
        speaker = #{speaker,jdbcType=VARCHAR}
      </if>
      <if test="organization != null"> and 
        organization = #{organization,jdbcType=VARCHAR}
      </if>
      <if test="description != null"> and 
        description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="uploadUserId != null"> and 
        upload_user_id = #{uploadUserId,jdbcType=INTEGER}
      </if>
      <if test="playCount != null"> and 
        play_count = #{playCount,jdbcType=INTEGER}
      </if>
      <if test="comments != null"> and 
        comments = #{comments,jdbcType=INTEGER}
      </if>
      <if test="isComment != null"> and 
        is_comment = #{isComment,jdbcType=INTEGER}
      </if>
      <if test="isHot != null"> and 
        is_hot = #{isHot,jdbcType=INTEGER}
      </if>
      <if test="isDownload != null"> and 
        is_download = #{isDownload,jdbcType=INTEGER}
      </if>
      <if test="language != null"> and 
        language = #{language,jdbcType=VARCHAR}
      </if>
      <if test="bitRate != null"> and 
        bit_rate = #{bitRate,jdbcType=INTEGER}
      </if>
      <if test="copyright != null"> and 
        copyright = #{copyright,jdbcType=VARCHAR}
      </if>
      <if test="password != null"> and 
        password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="status != null"> and 
        status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="problem != null"> and 
        problem = #{problem,jdbcType=VARCHAR}
      </if>
      <if test="answer != null"> and 
        answer = #{answer,jdbcType=VARCHAR}
      </if>
      <if test="protectType != null"> and 
        protect_type = #{protectType,jdbcType=VARCHAR}
      </if>
      <if test="creationTime != null"> and 
        creation_time = #{creationTime,jdbcType=TIMESTAMP}
      </if>
      <if test="retention != null"> and 
        retention = #{retention,jdbcType=VARCHAR}
      </if>
      <if test="ext != null"> and 
        ext = #{ext,jdbcType=VARCHAR}
      </if></select><select id="distinct" resultMap="BaseResultMap" parameterType="com.base.model.VideoExample"> select  distinct ${column}  from  tb_video
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="sum" resultType="java.lang.String" parameterType="com.base.model.VideoExample"> select sum(${column}) as ${column} from  tb_video
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="min" resultType="java.lang.String" parameterType="com.base.model.VideoExample"> select  min(${column}) as ${column} from  tb_video
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="max" resultType="java.lang.String" parameterType="com.base.model.VideoExample"> select  max(${column}) as ${column} from  tb_video
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><select id="avg" resultType="java.lang.String" parameterType="com.base.model.VideoExample"> select  avg(${column}) as ${column} from  tb_video
     <if test="_parameter != null"><include refid="Example_Where_Clause" />    </if>  </select><sql id="Base_Column_List_Map"> 
    id, app_name as  appName, name, title, play_address as  playAddress, thumbnail_address as  thumbnailAddress, size, subtitles, recording_time as  recordingTime, 
    labels, speaker, organization, description, upload_user_id as  uploadUserId, play_count as  playCount, comments, 
    is_comment as  
    isComment, is_hot as  isHot, is_download as  isDownload, language, bit_rate as  bitRate, copyright, password, status, 
    problem, answer, protect_type as  protectType, creation_time as  creationTime, retention, ext
  </sql>  <select id="selectByExampleForMap" resultType="map" 	parameterType="com.base.model.VideoExample"> 	select 	<if test="distinct"> distinct    </if> 	<choose> 		<when test="column != null"> ${column} 		</when> 		<otherwise> 			<include refid="Base_Column_List_Map" /> 		</otherwise> 	</choose> 	from  tb_video
     ${join} 	<if test="_parameter != null"> 		<include refid="Example_Where_Clause" /> 	</if> 	<if test="groupBy != null"> group by ${groupBy}    </if> <if test="having != null"> having ${having}    </if><if test="orderByClause != null"> order by ${orderByClause}    </if> </select><resultMap id="BaseResultMapJoin" type="com.base.model.Video" >
    <id column="video_id" property="id" jdbcType="INTEGER" />
    <result column="video_app_name" property="appName" jdbcType="VARCHAR" />
    <result column="video_name" property="name" jdbcType="VARCHAR" />
    <result column="video_title" property="title" jdbcType="VARCHAR" />
    <result column="video_play_address" property="playAddress" jdbcType="VARCHAR" />
    <result column="video_thumbnail_address" property="thumbnailAddress" jdbcType="VARCHAR" />
    <result column="video_size" property="size" jdbcType="INTEGER" />
    <result column="video_subtitles" property="subtitles" jdbcType="VARCHAR" />
    <result column="video_recording_time" property="recordingTime" jdbcType="TIMESTAMP" />
    <result column="video_labels" property="labels" jdbcType="VARCHAR" />
    <result column="video_speaker" property="speaker" jdbcType="VARCHAR" />
    <result column="video_organization" property="organization" jdbcType="VARCHAR" />
    <result column="video_description" property="description" jdbcType="VARCHAR" />
    <result column="video_upload_user_id" property="uploadUserId" jdbcType="INTEGER" />
    <result column="video_play_count" property="playCount" jdbcType="INTEGER" />
    <result column="video_comments" property="comments" jdbcType="INTEGER" />
    <result column="video_is_comment" property="isComment" jdbcType="INTEGER" />
    <result column="video_is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="video_is_download" property="isDownload" jdbcType="INTEGER" />
    <result column="video_language" property="language" jdbcType="VARCHAR" />
    <result column="video_bit_rate" property="bitRate" jdbcType="INTEGER" />
    <result column="video_copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="video_password" property="password" jdbcType="VARCHAR" />
    <result column="video_status" property="status" jdbcType="VARCHAR" />
    <result column="video_problem" property="problem" jdbcType="VARCHAR" />
    <result column="video_answer" property="answer" jdbcType="VARCHAR" />
    <result column="video_protect_type" property="protectType" jdbcType="VARCHAR" />
    <result column="video_creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="video_retention" property="retention" jdbcType="VARCHAR" />
    <result column="video_ext" property="ext" jdbcType="VARCHAR" />
  </resultMap><insert id="batchInsert" parameterType="java.util.List" >insert into tb_video (id, app_name, name, 
      title, play_address, thumbnail_address, 
      size, subtitles, recording_time, 
      labels, speaker, organization, 
      description, upload_user_id, play_count, 
      comments, is_comment, is_hot, 
      is_download, language, bit_rate, 
      copyright, password, status, 
      problem, answer, protect_type, 
      creation_time, retention, ext
      )
    values<foreach collection="list" item="item" index="index"  separator=","> (#{item.id,jdbcType=INTEGER}, #{item.appName,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
      #{item.title,jdbcType=VARCHAR}, #{item.playAddress,jdbcType=VARCHAR}, #{item.thumbnailAddress,jdbcType=VARCHAR}, 
      #{item.size,jdbcType=INTEGER}, #{item.subtitles,jdbcType=VARCHAR}, #{item.recordingTime,jdbcType=TIMESTAMP}, 
      #{item.labels,jdbcType=VARCHAR}, #{item.speaker,jdbcType=VARCHAR}, #{item.organization,jdbcType=VARCHAR}, 
      #{item.description,jdbcType=VARCHAR}, #{item.uploadUserId,jdbcType=INTEGER}, #{item.playCount,jdbcType=INTEGER}, 
      #{item.comments,jdbcType=INTEGER}, #{item.isComment,jdbcType=INTEGER}, #{item.isHot,jdbcType=INTEGER}, 
      #{item.isDownload,jdbcType=INTEGER}, #{item.language,jdbcType=VARCHAR}, #{item.bitRate,jdbcType=INTEGER}, 
      #{item.copyright,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, 
      #{item.problem,jdbcType=VARCHAR}, #{item.answer,jdbcType=VARCHAR}, #{item.protectType,jdbcType=VARCHAR}, 
      #{item.creationTime,jdbcType=TIMESTAMP}, #{item.retention,jdbcType=VARCHAR}, #{item.ext,jdbcType=VARCHAR}
      )
  </foreach></insert></mapper>
